@model Mall.Web.Areas.Admin.Models.HomeFloorDetail
@using Mall.Web.Areas.Admin.Models;
@using System.Linq;
@using Mall.Web.Framework;

@{
    Layout = "FloorDetail.cshtml";

    var LeftOne = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.LeftOne, new HomeFloorDetail.TextLink { Id= (int)Mall.CommonModel.Position.LeftOne, Name = "/" });
    var MiddleOne = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.MiddleOne, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.MiddleOne, Name = "/" });
    var MiddleTwo = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.MiddleTwo, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.MiddleTwo, Name = "/" });
    var MiddleThree = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.MiddleThree, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.MiddleThree, Name = "/" });
    var MiddleFour = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.MiddleFour, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.MiddleFour, Name = "/" });
    var MiddleFive = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.MiddleFive, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.MiddleFive, Name = "/" });
    var MiddleSix = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.MiddleSix, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.MiddleSix, Name = "/" });
    var ROne = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.ROne, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.ROne, Name = "/" });
    var RTwo = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.RTwo, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.RTwo, Name = "/" });
    var RThree = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.RThree, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.RThree, Name = "/" });
    var RFour = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.RFour, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.RFour, Name = "/" });
    var RFive = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.RFive, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.RFive, Name = "/" });
    var BottomOne = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.BottomOne, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.BottomOne, Name = "/" });
    var BottomTwo = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.BottomTwo, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.BottomTwo, Name = "/" });
    var BottomThree = Model.ProductLinks.FirstOrDefault(e => e.Id == (int)Mall.CommonModel.Position.BottomThree, new HomeFloorDetail.TextLink { Id = (int)Mall.CommonModel.Position.BottomThree, Name = "/" });
}

<script src="~/Scripts/jquery.MallUpload.js"></script>
<script src="~/Scripts/jquery.MallDatagrid.js"></script>
<script src="~/Scripts/jquery.MallLinkage.nocreate.js"></script>
<script src="~/Scripts/jquery.productSelector2.js"></script>
<script src="/Scripts/jquery.specialSelector.js"></script>
<script src="~/Areas/Admin/Scripts/charCode.js"></script>
<script src="~/Areas/Admin/Scripts/pageSettings-floorDetail8.js"></script>
<link href="~/Content/pagesetting.css" rel="stylesheet" />

<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>楼层名称：</label>
            <div class="col-sm-3 form-control-static">
                <input class="form-control input-xs" type="text" id="FloorName" name="FloorName"  placeholder="最多10个字符" maxlength="10" value="@ViewBag.FloorName" />
            </div>
        </div>


        <div class="form-group">
            <label for="" class="col-sm-2 control-label">选项卡：</label>
            <div class="col-sm-9">
                <table id="tblProducts" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>已选商品数量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody type="Products">
                        @foreach (var tab in Model.Tabs)
                        {
                            <tr type="Products" name="@tab.Id">
                                <td><input class="form-control input-xs" type="text" name="name" value="@tab.Name" /></td>
                                <td><span ids="@tab.Ids">@tab.Count</span></td>
                                <td class="td-operate"><span class="btn-a"><a>选择商品</a></span><span class="btn-del"><a href="#">删除</a></span></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="add-atrr" id="addProducts"><span class="glyphicon glyphicon-plus-sign"></span>添加</a>&nbsp;<span>(最多增加4个)</span>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>默认选项卡名称：</label>
            <div class="col-sm-3 form-control-static">
                <input class="form-control input-xs" type="text" id="DefaultTabName" name="DefaultTabName" value="@Model.DefaultTabName" />
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label"><b>*</b>图片：</label>
            <div class="col-sm-9">
                <table class="table table-bordered upload-file-btn">
                    <thead>
                        <tr>
                            <th>
                                区域
                                <div class="floor-ex-img">
                                    （<a class="ex-btn">区域划分图</a>）
                                    <img src="/Images/floor_8.jpg" />
                                </div>
                            </th>
                            <th>图片</th>
                            <th>跳转链接</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>左一</td>
                            <td><div class="upload-img" id="up0" url="@MallIO.GetImagePath(LeftOne.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.LeftOne)" name="url" value="@LeftOne.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 0)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 0)">积分商城</li>
                                        <li onclick="setPlink('3', 0)">PC专题</li>
                                        <li onclick="setPlink('2', 0)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 0)">限时抢购页</li>
                                        <li onclick="setPlink('4', 0)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>中图1</td>
                            <td><div class="upload-img" id="up1" url="@MallIO.GetImagePath(MiddleOne.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.MiddleOne)" name="url" value="@MiddleOne.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 1)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 1)">积分商城</li>
                                        <li onclick="setPlink('3', 1)">PC专题</li>
                                        <li onclick="setPlink('2', 1)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 1)">限时抢购页</li>
                                        <li onclick="setPlink('4', 1)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>中图2</td>
                            <td><div class="upload-img" id="up2" url="@MallIO.GetImagePath(MiddleTwo.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.MiddleTwo)" name="url" value="@MiddleTwo.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 2)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 2)">积分商城</li>
                                        <li onclick="setPlink('3', 2)">PC专题</li>
                                        <li onclick="setPlink('2', 2)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 2)">限时抢购页</li>
                                        <li onclick="setPlink('4', 2)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>中图3</td>
                            <td><div class="upload-img" id="up3" url="@MallIO.GetImagePath(MiddleThree.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.MiddleThree)" name="url" value="@MiddleThree.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 3)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 3)">积分商城</li>
                                        <li onclick="setPlink('3', 3)">PC专题</li>
                                        <li onclick="setPlink('2', 3)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 3)">限时抢购页</li>
                                        <li onclick="setPlink('4', 3)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>中图4</td>
                            <td><div class="upload-img" id="up4" url="@MallIO.GetImagePath(MiddleFour.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.MiddleFour)" name="url" value="@MiddleFour.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 4)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 4)">积分商城</li>
                                        <li onclick="setPlink('3', 4)">PC专题</li>
                                        <li onclick="setPlink('2', 4)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 4)">限时抢购页</li>
                                        <li onclick="setPlink('4', 4)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>中图5</td>
                            <td><div class="upload-img" id="up5" url="@MallIO.GetImagePath(MiddleFive.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.MiddleFive)" name="url" value="@MiddleFive.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 5)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 5)">积分商城</li>
                                        <li onclick="setPlink('3', 5)">PC专题</li>
                                        <li onclick="setPlink('2', 5)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 5)">限时抢购页</li>
                                        <li onclick="setPlink('4', 5)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>中图6</td>
                            <td><div class="upload-img" id="up6" url="@MallIO.GetImagePath(MiddleSix.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.MiddleSix)" name="url" value="@MiddleSix.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 6)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 6)">积分商城</li>
                                        <li onclick="setPlink('3', 6)">PC专题</li>
                                        <li onclick="setPlink('2', 6)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 6)">限时抢购页</li>
                                        <li onclick="setPlink('4', 6)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>右图1</td>
                            <td><div class="upload-img" id="up7" url="@MallIO.GetImagePath(ROne.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.ROne)" name="url" value="@ROne.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 7)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 7)">积分商城</li>
                                        <li onclick="setPlink('3', 7)">PC专题</li>
                                        <li onclick="setPlink('2', 7)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 7)">限时抢购页</li>
                                        <li onclick="setPlink('4', 7)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>右图2</td>
                            <td><div class="upload-img" id="up8" url="@MallIO.GetImagePath(RTwo.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.RTwo)" name="url" value="@RTwo.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 8)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 8)">积分商城</li>
                                        <li onclick="setPlink('3', 8)">PC专题</li>
                                        <li onclick="setPlink('2', 8)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 8)">限时抢购页</li>
                                        <li onclick="setPlink('4',8)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>右图3</td>
                            <td><div class="upload-img" id="up9" url="@MallIO.GetImagePath(RThree.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.RThree)" name="url" value="@RThree.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 9)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 9)">积分商城</li>
                                        <li onclick="setPlink('3', 9)">PC专题</li>
                                        <li onclick="setPlink('2', 9)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 9)">限时抢购页</li>
                                        <li onclick="setPlink('4', 9)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>右图4</td>
                            <td><div class="upload-img" id="up10" url="@MallIO.GetImagePath(RFour.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.RFour)" name="url" value="@RFour.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 10)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 10)">积分商城</li>
                                        <li onclick="setPlink('3', 10)">PC专题</li>
                                        <li onclick="setPlink('2', 10)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 10)">限时抢购页</li>
                                        <li onclick="setPlink('4', 10)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>右图5</td>
                            <td><div class="upload-img" id="up11" url="@MallIO.GetImagePath(RFive.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.RFive)" name="url" value="@RFive.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 11)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 11)">积分商城</li>
                                        <li onclick="setPlink('3', 11)">PC专题</li>
                                        <li onclick="setPlink('2', 11)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 11)">限时抢购页</li>
                                        <li onclick="setPlink('4', 11)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>底图1</td>
                            <td><div class="upload-img" id="up12" url="@MallIO.GetImagePath(BottomOne.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.BottomOne)" name="url" value="@BottomOne.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 12)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 12)">积分商城</li>
                                        <li onclick="setPlink('3', 12)">PC专题</li>
                                        <li onclick="setPlink('2', 12)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 12)">限时抢购页</li>
                                        <li onclick="setPlink('4', 12)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>底图2</td>
                            <td><div class="upload-img" id="up13" url="@MallIO.GetImagePath(BottomTwo.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.BottomTwo)" name="url" value="@BottomTwo.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 13)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 13)">积分商城</li>
                                        <li onclick="setPlink('3', 13)">PC专题</li>
                                        <li onclick="setPlink('2', 13)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 13)">限时抢购页</li>
                                        <li onclick="setPlink('4', 13)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>底图3</td>
                            <td><div class="upload-img" id="up14" url="@MallIO.GetImagePath(BottomThree.Url)"></div></td>
                            <td><input class="form-control input-xs pLink" type="text" position="@((int)Mall.CommonModel.Position.BottomThree)" name="url" value="@BottomThree.Name" />
                                <div class="downlist">
                                    <span>请选择</span>
                                    <ul>
                                        <li onclick="setPlink('1', 14)">选择商品</li>
                                        <li onclick="setPlink('/IntegralMall', 14)">积分商城</li>
                                        <li onclick="setPlink('3', 14)">PC专题</li>
                                        <li onclick="setPlink('2', 14)">自定义链接</li>
                                        <li onclick="setPlink('/LimitTimeBuy/home', 14)">限时抢购页</li>
                                        <li onclick="setPlink('4', 14)">商品分类</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" name="id" id="homeFloorId" value="@Model.Id" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" name="submit" class="j_saveHide btn btn-primary">保存楼层</button>
            </div>
        </div>
    </form>
</div>
