@model List<Mall.Entities.WeiXinMsgTemplateInfo>

<script src="~/Areas/Admin/Scripts/MessageEditWeixin.js"></script>

<div class="container">
    <ul class="nav nav-tabs-custom clearfix clear-v16">
        <li value=""><a href="@Url.Action("management","message")">管理</a></li>
        @foreach (var messagePlugin in @ViewBag.messagePlugins)
        {
            <li><a href="edit?pluginId=@(messagePlugin.pluginId)">@{@messagePlugin.name}配置</a></li>
        }
        <li class="active"><a href="@Url.Action("editwxtm")">微信模板消息配置</a></li>

    </ul>
    <div class="queryDiv">
		<img class="queryImg" src="/Images/ic_query.png">
		<div class="tipBox">
			<h5>温馨提示:</h5>
			<ul>
				<li><span>消息模板主要用于需要操作或有必要通知的会员，商家信息。</span></li>
				<li><span>消息可以以三种形式发送，邮件、短信、微信，管理员可以自由设定。</span></li>
			</ul>
		</div>
	</div>
    <h5 class="tips-top"><span class="help-default"><i></i>提示：(仅认证服务号可以使用模板消息)获取前请先确认您已获得微信模板消息的使用权限，并且模板消息中没有任何数据。公众号设置好行业后在此点击获取模板ID。获取后请不要到微信公众号后台删除相应的模板消息，否则将影响模板消息的正常使用。</span></h5>
    

    <div class="form-horizontal pd0">
        <div class="form-group">
            <div class="col-sm-3">
            <input type="button" id="btn_tmplate" class="btn btn-primary btn_resettmpl" value="获取模板ID" data-msgtype="" /></div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th width="160" class="tac">消息类型</th>
                <th width="260" class="tac">模板短编号</th>
                <th class="tac">模板ID</th>
                <th width="120" class="tac">更新时间</th>
                <th  width="120" class="tac">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Mall.Core.Plugins.Message.MessageTypeEnum curmsgtype = ((Mall.Core.Plugins.Message.MessageTypeEnum)item.MessageType);
                <tr style="text-align:center">
                    <td align="center">
                        @(curmsgtype.ToDescription())
                    </td>
                    <td align="center">
                        @(item.TemplateNum)
                    </td>
                    <td align="center">
                        @(item.TemplateId)
                    </td>
                    <td align="center">
                        @(item.UpdateDate)
                    </td>
                    <td align="center">
                        <input type="button" class="btn btn-default btn_resettmpl" data-msgtype="@(item.MessageType)" value="重置模板" />
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>





